.header {
  display: flex;
  align-items: end;
}

.header {
  padding: 2% 16%;
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 2% 8%;
  }
}

@media screen and (max-width: 1110px) {
  .header {
    padding: 2% 4%;
  }
}
